{% extends 'base.html.twig' %}

{% block title %}Tarif{% endblock %}

{% block body %}
<div class="game-list-container">
		{% include "components/_dashboard_button.html.twig" %}
    <h1>Tarif</h1>

    <table class="game-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.id }}</td>
                <td>{{ tarif.prix }}</td>
                <td>
                <div class="game-actions">
                    <a href="{{ path('app_tarif_show', {'id': tarif.id}) }}" class="view-link">show</a>
                    <a href="{{ path('app_tarif_edit', {'id': tarif.id}) }}" class="edit-link">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_new') }}" class="add-game-btn">Create new tarif</a>
	</div>
{% endblock %}
