{% extends 'base.html.twig' %}

{% block title %}Equipements 
{% endblock %}

{% block body %}
	<div class="game-list-container">
		{% include "components/_dashboard_button.html.twig" %}
		<h1>equipement</h1>

		<table class="game-table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Label</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for equipement in equipements %}
					<tr>
						<td>{{ equipement.id }}</td>
						<td>{{ equipement.label }}</td>
						<td>
							<div class="game-actions">
								<a href="{{ path('app_equipement_show', {'id': equipement.id}) }}" class="view-link">show</a>
								<a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}" class="edit-link">edit</a>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_equipement_new') }}" class="add-game-btn">Create new equipement</a>
	</div>
{% endblock %}
