{# on peut déclarer des variables avec set #}

<div class="game-detail-card">
	<div class="game-detail-image">
		<img src="{{asset('images/' ~ hebergement.imagePath)}}">
	</div>

	<div class="game-detail-content">

		{% for type in types %}
			<h1 class="game-title">{{type.label}}</h1>
		{% endfor %}
		{# affichage des consoles #}
		<div class="game-consoles mb-3">
			{% for equipement in equipements %}
				<span class="console-badge">{{equipement.label}}</span>
			{% endfor %}
		</div>

		<div class="game-info-detail mb-4">
			<div class="info-item">
				<span class="info-label">surface:</span>
				<span class="info-value">{{hebergement.surface}}</span>
				{% if hebergementTarifs[hebergement['id']] is not null %}
					<p>Prix par nuits:
						{{ hebergementTarifs[hebergement['id']].prix }}€</p>
					<p>Prix total:
						{{ hebergementTotal[hebergement['id']] }}€</p>
					<p>Saison:
						{{ hebergementTarifs[hebergement['id']].label }}</p>
				{% else %}
					<p class="text-danger">Prix non disponible</p>
				{% endif %}
			</div>
		</div>

		<div class="game-synopsis mb-4">
			<h2>Synopsis</h2>
			<p>{{hebergement.description}}</p>
		</div>

	</div>
</div>
