{# TODO:
<div class="game-card">
	<div class="game-info">
		<h2 class="game-title">{{hebergement.id}}</h2>
		<div class="game-info-container">
			<p class="game-price">{{(hebergement.capacity)|number_format}}</p>
		</div>
	</div>

	
</div> #}
<div class="game-card">
<img src="{{asset('images/' ~ hebergement.imagePath)}}" class="game-image">
		<h1>{{ hebergement.id }}</h1>
		<p>{{ hebergement.description }}</p>
		<div class="game-info-container">
			<p>{{ hebergement.capacity }}</p>
			{# Display price if available #}
        {% if hebergementTarifs[hebergement['id']] is not null %}
            <p>Prix par nuits: {{ hebergementTarifs[hebergement['id']].prix }}€</p>
            <p>Prix total: {{ hebergementTotal[hebergement['id']] }}€</p>
            <p>Saison: {{ hebergementTarifs[hebergement['id']].label }}</p>
        {% else %}
            <p class="text-danger">Prix non disponible</p>
        {% endif %}
			<a href="{{path('app_detail', {'id': hebergement.id})}}" class="btn btn-detail">Voir détail</a>
		</div>
</div>
