{% extends 'base.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ hebergement.capacity }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ hebergement.surface }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ hebergement.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
            <tr>
                <th>ImagePath</th>
                <td>{{ hebergement.imagePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
